@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aldrich", Sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

.container h1::selection {
  background-color: RGB(216, 66, 21);
}

h2::selection {
  background-color: RGB(216, 66, 21);
}

p::selection {
  background-color: RGB(216, 66, 21);
}

code::selection {
  background-color: black;
}

span::selection {
  background-color: black;
}

.span_red::selection {
  background-color: black;
}

.container_geral {
  background: RGB(25, 25, 26);
  display: flex;
}

.content {
  width: 1200px;
  margin-inline: auto;
}

/*========== HEADER ===========*/

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.conteudo_box_item {
  padding-bottom: 40px;

}

/*============ ELEMENTOS DIV =================*/
h2 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  font-size: 2.6rem;
  font-weight: bolder;
}

p {
  font-size: 1.3rem;
  margin-bottom: 50px;
  word-wrap: break-word;
  text-align: justify;
}

.principal_p {
  margin-bottom: 20px;
}

/*======== COLORS SPAN ===============*/

.span_orange {
  color: RGB(209, 154, 103);
}

.span_red {
  color: RGB(215, 107, 114);
}

.span_green {
  color: RGB(153, 194, 120);
}

.span_grey {
  color: RGB(162, 168, 183);
}

/*======== BOX CODE SEPADOS ===============*/

pre {
  background-color: RGB(40, 45, 52);
  border-radius: 10px;
  padding-left: 20px;
  
}

code {
  font-size: 1.3rem;
  color: RGB(162, 168, 183);
}


.codigo_separado {
  background-color: black;
  color: RGB(215, 107, 114);
}

/*============= RESPONSIVIDADE ===============*/

@media(max-width: 1400px) {
  .content {
    width: 1100px;

  }
}

@media(max-width: 1200px) {
  .content {
    width: 900px;
  }

  .codigo_imagens {
    display: none;
  }

}

@media(max-width: 1024px) {
  .content {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .content {
    width: 400px;
  }
  
  .codigo_landmarks {
    display: none;
  }

  .codigo_estrutura {
    display: none;
  }
}

@media(max-width :425px) {
  .content {
    width: 320px;
  }

  .codigo_tabela {
    display: none;
  }

  .codigo_documento {
    display: none;
  }

}